* {
  margin: 0;
}

.fullName {
  display: inline-block;
  margin-left: 6px;
}

.indTitle {
  margin-left: 6px;
  margin-top: 0px;
  /*display: inline-block;*/
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}